{{template "head.tmpl" .}}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Agregar transmisión</h1>
      </div>
      <div class="col-sm-6">

      </div>
    </div>
  </div><!-- /.container-fluid -->
</div>




  <section class="content">
    <div class="container-fluid">
      <div class="row" id="streams-form-wrapper">

        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Parámetros del canal principal</h3>
            </div>
              <div class="card-body">
                <form class="stream-form main-form">
                <div class="form-group">
                  <label for="exampleInputEmail1">Nombre de la transmisión</label>
                  <input type="text" class="form-control" name="stream-name" placeholder="Ingrese el nombre de la transmisión" id="stream-name">
                  <small  class="form-text text-muted">Puede elegir cualquier nombre para la transmisión, por ejemplo "Mi habitación" o "Mi garage"</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">URL de la transmisión</label>
                  <input type="text" name="stream-url" class="form-control"  placeholder="Ingrese la URL de la transmisión">
                  <small  class="form-text text-muted">Ingrese la dirección RTSP según las instrucciones de su cámara. Se ve como <code>rtsp://&lt;username&gt;:&lt;password&gt;@&lt;ip&gt;:&lt;port&gt;/path </code> </small>
                </div>
                <div class="form-group">
                  <label for="inputStatus">Tipo de transmisión</label>
                  <select class="form-control custom-select" name="stream-ondemand">
                    <option selected disabled><small>Seleccione uno</small></option>
                    <option value="1">Solo bajo demanda</option>
                    <option value="0">Conexión persistente</option>
                  </select>
                  <small  class="form-text text-muted">En conexión persistente, el servidor obtiene datos de la cámara continuamente. Bajo demanda, el servidor obtiene datos solo cuando hace clic en el botón de reproducción </small>
                </div>
                <div class="form-group">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" name="debug" id="debug-switch">
                    <label class="custom-control-label" for="debug-switch">Habilitar depuración</label>
                  </div>
                  <small  class="form-text text-muted">Seleccione esta opción si desea obtener más datos sobre la transmisión </small>
                </div>
              </form>
              </div>
            </div>
          </div>
          </div>

        <div class="row  mb-3">
            <div class="col-12">
              <button type="button" onclick="addChannel()" class="btn btn-secondary">Agregar canal</button>
              <button type="button" onclick="addStreamSubmit()" class="btn btn-primary">Guardar transmisión</button>
            </div>
        </div>
    </div>
  </section>

{{template "foot.tmpl" .}}

<script>
function addStreamSubmit(){
  var params = {
    uuid:randomUuid(),
    name:$('#stream-name').val(),
    channels:{}
  }

  $('.stream-form').each(function(i){
    params.channels[i]={
        url:$(this).find('input[name="stream-url"]').val(),
        on_demand:Boolean(parseInt($(this).find('select[name="stream-ondemand"]').val())),
        debug:Boolean($(this).find('input[name="debug"]').prop('checked')),
    }
    if(params.channels[i].on_demand==null){
      params.channels[i].on_demand==true;
    }
  });
  goRequest('add', params.uuid, params);
}




</script>
