{{template "head.tmpl" .}}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Editar transmisión</h1>
      </div>
      <div class="col-sm-6">

      </div>
    </div>
  </div><!-- /.container-fluid -->
</div>
<input type="hidden" value="{{.uuid}}" id="uuid" />
{{ $stream:= (index .streams .uuid)}}
{{ $mainChannel := (index $stream.Channels "0") }}
  <section class="content">
    <div class="container-fluid">
      <div class="row" id="streams-form-wrapper">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Parámetros principales</h3>
            </div>
            <form class="stream-form main-form">
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Nombre de la transmisión</label>
                  <input type="text" class="form-control" name="stream-name" placeholder="Ingrese el nombre de la transmisión" value="{{$stream.Name}}" id="stream-name">
                  <small  class="form-text text-muted">Puede elegir cualquier nombre para la transmisión, por ejemplo "Mi habitación" o "Salchicha feliz"</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">URL de la transmisión</label>
                  <input type="text" name="stream-url" class="form-control"  placeholder="Ingrese la URL de la transmisión" value="{{$mainChannel.URL}}">
                  <small  class="form-text text-muted">Ingrese la dirección RTSP según las instrucciones de su cámara. Se ve como <code>rtsp://&lt;ip&gt;:&lt;port&gt;/path </code></small>
                </div>
                <div class="form-group">
                  <label for="inputStatus">Tipo de transmisión</label>
                  <select class="form-control custom-select" name="stream-ondemand">
                    <option selected disabled><small>Seleccione uno</small></option>
                    <option value="1"
                    {{ if eq $mainChannel.OnDemand true}}
                      selected
                    {{ end }}>Solo bajo demanda</option>
                    <option value="0" {{ if eq $mainChannel.OnDemand false}}
                      selected
                    {{ end }}>Conexión persistente</option>
                  </select>
                  <small  class="form-text text-muted">En conexión persistente, el servidor obtiene datos de la cámara continuamente. Bajo demanda, el servidor obtiene datos solo cuando hace clic en el botón de reproducción </small>
                </div>
                <div class="form-group">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" name="debug" id="debug-switch" {{ if eq $mainChannel.Debug true}}
                      checked
                    {{ end }}>
                    <label class="custom-control-label" for="debug-switch">Habilitar depuración</label>
                  </div>
                  <small  class="form-text text-muted">Seleccione esta opción si desea obtener más datos sobre la transmisión </small>
                </div>
              </div>
            </form>
          </div>
          </div>
          {{ if gt (len $stream.Channels) 1}}
              {{ range $key, $value := $stream.Channels }}
                {{ if ne $key "0"}}
                <div class="col-12">
                  <div class="card card-secondary">
                    <div class="card-header">
                      <h3 class="card-title">Parámetros del subcanal</h3>
                      <div class="card-tools">
                      <button type="button" class="btn btn-tool" onclick="removeChannelDiv(this)"><i class="fas fa-times"></i></button>
                      </div>
                    </div>
                      <div class="card-body">
                      <form class="stream-form">
                        <div class="form-group">
                          <label for="exampleInputPassword1">URL de la subtransmisión</label>
                          <input type="text" name="stream-url" class="form-control"  placeholder="Ingrese la URL de la transmisión" value="{{$value.URL}}" >
                          <small  class="form-text text-muted">Ingrese la dirección RTSP según las instrucciones de su cámara. Se ve como <code>rtsp://&lt;ip&gt;:&lt;port&gt;/path </code> </small>
                        </div>
                        <div class="form-group">

                          <label for="inputStatus">Tipo de subtransmisión</label>
                          <select class="form-control custom-select" name="stream-ondemand">
                          <option selected disabled><small>Seleccione uno</small></option>
                          <option value="1"
                          {{ if eq $value.OnDemand true}}
                            selected
                          {{ end }}>Solo bajo demanda</option>
                          <option value="0"
                          {{ if eq $value.OnDemand false}}
                            selected
                          {{ end }}>Conexión persistente</option>
                        </select>
                          <small  class="form-text text-muted">En conexión persistente, el servidor obtiene datos de la cámara continuamente. Bajo demanda, el servidor obtiene datos solo cuando hace clic en el botón de reproducción </small>
                        </div>
                        <div class="form-group">
                          <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" name="debug" id="substream-debug-switch-{{$key}}" {{ if eq $value.Debug true}}
                              checked
                            {{ end }}>
                            <label class="custom-control-label" for="substream-debug-switch-{{$key}}">Habilitar depuración</label>
                          </div>
                          <small  class="form-text text-muted">Seleccione esta opción si desea obtener más datos sobre la transmisión </small>
                        </div>
                          </form>
                      </div>
                  </div>
                  </div>
                {{ end }}
              {{ end }}
          {{ end }}
        </div>
        <div class="row  mb-3">
            <div class="col-12">
              <button type="button" onclick="addChannel()" class="btn btn-secondary">Agregar canal</button>
              <button type="button" onclick="editStreamSubmit()" class="btn btn-primary">Guardar transmisión</button>
            </div>
        </div>

    </div>
  </section>

{{template "foot.tmpl" .}}

<script>

function editStreamSubmit(){
  var params = {
    uuid:$('#uuid').val(),
    name:$('#stream-name').val(),
    channels:{}
  }

  $('.stream-form').each(function(i){
    params.channels[i]={
        url:$(this).find('input[name="stream-url"]').val(),
        on_demand:Boolean(parseInt($(this).find('select[name="stream-ondemand"]').val())),
        debug:Boolean($(this).find('input[name="debug"]').prop('checked')),
    }
    if(params.channels[i].on_demand==null){
      params.channels[i].on_demand==true;
    }
  });
  goRequest('edit', params.uuid, params);
}
</script>
