<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>RTSPtoWEB</title>
  <link rel="stylesheet" href="/../static/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/../static/css/adminlte.min.css">
  <link rel="stylesheet" href="/../static/plugins/sweetalert2/sweetalert2.min.css">
  <link rel="stylesheet" href="/../static/css/index.css">
  <link href="/../static/css/google-fonts.css" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="/" class="nav-link">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/pages/stream/add" role="button"><i class="fas fa-plus-square"></i> Add stream</a>
        </li>
      </ul>
    </nav>



    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <a href="/" class="brand-link">
        <img src="/static/img/pic.svg" alt="AdminLTE Logo" class="brand-image img-circle" style="opacity: .8">
        <span class="brand-text font-weight-light">RTSPtoWEB</span>
      </a>

      <div class="sidebar">
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
              <a href="/" class="nav-link
              {{ if eq .page "index"}}
                active
              {{end}}
              ">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Dashboard
                </p>
              </a>
            </li>
            <li class="nav-header">NAVIGATION</li>
            <li class="nav-item ">
              <a href="/pages/stream/list" class="nav-link {{ if  (eq .page "stream_list") }}
                active
              {{end}}">
                <i class="fas fa-list-alt nav-icon"></i>
                <p>Streams list</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/pages/stream/add" class="nav-link {{ if  (eq .page "add_stream") }}
                active
              {{end}}">
                <i class="fas fa-plus-square nav-icon"></i>
                <p>Add stream</p>
              </a>
            </li>

            <li class="nav-item ">
              <a href="/pages/multiview/full?controls" class="nav-link {{ if  (eq .page "fullscreenmulti") }}
                active
              {{end}}">
                <i class="fas fa-th-large nav-icon"></i>
                <p>Full multiview</p>
              </a>
            </li>
            <li class="nav-header">MISCELLANEOUS</li>
            <li class="nav-item">
              <a href="/pages/documentation" class="nav-link
              {{ if eq .page "documentation"}}
                active
              {{end}}">
                <i class="nav-icon fas fa-file"></i>
                <p>Documentation</p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->

      <!-- /.content-header -->
