{{template "head.tmpl" .}}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Dashboard</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</div>
<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <h5 class="mt-4 mb-2">System information</h5>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">CPU</span>
            <span class="info-box-number">
              <label>0</label>
              <small>%</small>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-chart-line"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Bitrate</span>
            <span class="info-box-number">
              <label>0</label>
              <small>kbps</small>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix hidden-md-up"></div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-success elevation-1"><i class="fas fa-photo-video"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Streams</span>
            <span class="info-box-number">
              <label>{{ len .streams}}</label>
              <small>st.</small>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Viewers</span>
            <span class="info-box-number">
              <label>0</label>
              <small>man</small>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>


    <div class="row">
      <div class="col-6">
        <h5 class="mt-4 mb-2">Streams</h5>
      </div>
      <div class="col-6">

        <div class="input-group-prepend float-right mt-3">
          <a class="btn" data-toggle="dropdown" style="padding-right: 0;">
            <i class="fas fa-lg fa-sort"></i>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Name <i class="fas fa-sort-alpha-down float-right"></i> </a>
            <a class="dropdown-item" href="#">Name <i class="fas fa-sort-alpha-up float-right"></i></a>
          </div>
        </div>

      </div>
    </div>
    <div class="row mt-3 ">
      {{ range $key, $value := .streams }}
      <div class="col-12 col-sm-6 col-md-3">
        {{ if eq .Status 1}}
          <div class="card card-outline card-success" id="{{ $key }}">
        {{ else }}
          <div class="card card-outline card-danger"  id="{{ $key }}">
        {{end}}
        <div class="card-body p-0">
          <div class="row">
            <div class="col-12">
              <div class="img-wrapper">
                <a href="/play_mse/{{$key}}"><img src="../static/img/noimage.svg" alt="" class="stream-img"></a>

              </div>
            </div>
            <div class="col-12">
              <div class="text-wrapper">
                <h5>{{.Name}}</h5>
              </div>
            </div>
            <div class="col-12">
              <div class="btn-group stream">
                <a  class="btn btn-info btn-flat btn-xs" href="/play_mse/{{$key}}"><i class="fas fa-play"></i> MSE</a>
                <a  class="btn btn-info btn-flat btn-xs" href="/play_hls/{{$key}}"><i class="fas fa-play"></i> HLS</a>
                <a  class="btn btn-info btn-flat btn-xs" href="/play_webrtc/{{$key}}"><i class="fas fa-play"></i> WebRTC</a>
                <a  class="btn btn-secondary btn-flat btn-xs" href="/edit_stream/{{$key}}" ><i class="fas fa-edit"></i> Edit</a>
                <a  class="btn btn-danger btn-flat btn-xs" onclick="deleteStream('{{ $key }}')" href="#"><i class="fas fa-times"></i> Delete</a>
              </div>
            </div>
          </div>


        </div>

      </div>
      </div>
      {{ end }}
    </div>
  </div><!-- /.container-fluid -->

</div>
<!-- /.content -->


{{template "foot.tmpl" .}}
