{{template "head.tmpl" .}}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Reproducir video WebRTC</h1>
      </div>
      <div class="col-sm-6">

      </div>
    </div>
  </div><!-- /.container-fluid -->
</div>
<div class="content">
  {{template "player.tmpl" .}}

  {{template "foot.tmpl" .}}
</div>
<script>
  let webrtc, webrtcSendChannel;
  let mediaStream;

  $(document).ready(() => {
    startPlay();
  });

  async function startPlay() {
    mediaStream = new MediaStream();
    $("#videoPlayer")[0].srcObject = mediaStream;
    webrtc = new RTCPeerConnection({
      iceServers: [{
        urls: ["stun:stun.l.google.com:19302"]
      }],
      sdpSemantics: "unified-plan"
    });
    webrtc.onnegotiationneeded = handleNegotiationNeeded;
    webrtc.ontrack = ontrack;

    // Use addTransceiver instead of legacy offerToReceiveVideo
    webrtc.addTransceiver('video', {
      direction: 'sendrecv'
    });

    // Data channel for keep-alive or other data
    webrtcSendChannel = webrtc.createDataChannel('foo');
    webrtcSendChannel.onclose = () => console.log('sendChannel has closed');
    webrtcSendChannel.onopen = () => {
      console.log('sendChannel has opened');
      webrtcSendChannel.send('ping');
      setInterval(() => {
        if (webrtcSendChannel.readyState === 'open') {
          webrtcSendChannel.send('ping');
        }
      }, 1000);
    }
  }

  function ontrack(event) {
    console.log(event.streams.length + ' track is delivered');
    mediaStream.addTrack(event.track);
  }

  async function handleNegotiationNeeded() {
    let uuid = $('#uuid').val();
    let channel = $('#channel').val();
    let url = "/stream/" + uuid + "/channel/" + channel + "/webrtc?uuid=" + uuid + '&channel=' + channel;

    try {
      let offer = await webrtc.createOffer();
      await webrtc.setLocalDescription(offer);

      $.post(url, {
        data: btoa(webrtc.localDescription.sdp)
      }, function(data) {
        try {
          console.log(data);
          webrtc.setRemoteDescription(new RTCSessionDescription({
            type: 'answer',
            sdp: atob(data)
          }))
        } catch (e) {
          console.warn(e);
        }
      });
    } catch (e) {
      console.error("Error during negotiation:", e);
    }
  }

  $("#videoPlayer")[0].addEventListener('loadeddata', () => {
    $("#videoPlayer")[0].play();
    makePic();
  });

  $("#videoPlayer")[0].addEventListener('error', () => {
    console.log('video_error')
  });
</script>
