#videoPlayer{
  width: 100%;
  background: black;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 15px;
  margin-bottom: -6px;

}
.btn-group.stream{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.btn-group.stream .btn{
  flex: 1 0 30%;
}
.img-wrapper{
  width: 100%;
  height: auto;
  background: black;
  cursor: pointer;
}
.img-wrapper img{
  width: 100%;
  height: 100%;
}
.text-wrapper{
  padding: 10px;
}
